* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  font: 14px Roboto, sans-serif;
  /* position: fixed;
  z-index: 1000; */
}

.logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  width: 190px;

  cursor: pointer;
}

.nav-links {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px Roboto, sans-serif;
  color: black;
  gap: 25px;
  cursor: pointer;
  list-style: none;
  width: 60%;
}

.nav-links-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font: 14px Roboto, sans-serif;
  color: #444444;
  font-weight: 500;
  gap: 25px;
  cursor: pointer;
  list-style: none;
}
.sale {
  color: red;
}

/* hover effect here */

.child-dropdown {
  display: none;
}
.dropdown:hover .child-dropdown {
  display: block;
  position: absolute;
  top: 95px;
  left: 0px;
  z-index: 100;
}
.dropdown .child-dropdown .Brands {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  list-style: none;
  /* line-height: -20px; */
  gap: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 20px;
  font: 14px Roboto, sans-serif;
  color: #444444;
  font-weight: 500;
  padding: 20px;
}
.child-dropdown > .Brands > li {
  display: flex;
  /* border: 1px solid red; */
  justify-content: flex-start;
}
.child-dropdown2 {
  display: none;
}

.dropdown:hover .child-dropdown2 {
  display: block;
  position: absolute;
  top: 95px;
  z-index: 100;
}

.lidiv {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font: 14px Roboto, sans-serif;
  padding: 20px;
}
.lidiv > li {
  padding: 10px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
}

.imagediv {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  list-style: none;
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  font: 14px Roboto, sans-serif;
  padding: 40px;
}
/* .imagediv > li {
  border: 1px solid red;
} */

.imagediv > li > img {
  width: 65px;
  height: 65px;
  margin-left: 40%;
}

.imagediv2 {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font: 14px Roboto, sans-serif;
  padding: 40px;
}
.imagediv2 > li > img {
  /* border: 1px solid red; */
  width: 300px;
  height: 200px;
}
.info > p {
  margin-top: 15px;
}
.infop {
  font-weight: bold;
}
.card2 {
  /* border: 1px solid red; */
  margin-top: 50%;
}
.card1 {
  text-align: center;
}
.Buutoncart {
  /* border: 1px solid red; */
  font: 14px Roboto, sans-serif;
  color: #444444;
  font-weight: 500;
}
