.fetchdata {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  margin-left: 30%;
  gap: 100px;
  margin-bottom: 180px;
}
.fetchdata > div {
  /* border: 1px solid blue; */
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 25px;
}
.ALL {
  text-align: center;
  font: 50px Roboto, sans-serif;
  font-weight: 600;
}
