.Singlepage {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.images {
  margin-top: 50px;

  /* border: 1px solid red; */

  /* padding: 25px; */
}
.images > img {
  width: 90%;
}
.abouts > h2 {
  font-size: 35px;
  margin-top: 50px;
  /* border: 1px solid red; */
  font-weight: 600;
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.abouts > p {
  font-size: 25px;
  /* margin-top: 20px; */
  /* border: 1px solid red; */
  font-weight: 600;
  /* display: flex;
  justify-content: flex-start; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.abouts > h4 {
  /* border: 1px solid blue; */
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.abouts > h5 {
  /* border: 1px solid blue; */
  font-size: 25px;
  display: flex;
  margin-top: 25px;
  justify-content: flex-start;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.abouts > button {
  border: 1px solid black;
  font-size: 25px;
  background-color: aqua;
  color: black;
  width: 40%;

  margin-top: 25px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.abouts > button:hover {
  /* border: 1px solid blue; */
  font-size: 25px;
  background-color: yellow;
  color: black;
  width: 40%;
border-radius: 10%;
  margin-top: 25px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.abouts > h3 {
  /* border: 1px solid blue; */
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.colour {
  display: flex;
  /* border: 1px solid blue; */
}

.abouts > h1 {
  /* border: 1px solid blue; */
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
