.ShoppingComp {
  border: 1px solid blue;
  width: 95%;
  margin: auto;
}

.ALL {
  text-align: center;
  font: 50px Roboto, sans-serif;
  font-weight: 600;
}
.carts {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Carts2 {
  /* border: 1px solid blue;s */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2%;
}
.Carts2 > div > h1 {
  font-size: 25px;
  /* border: 1px solid red; */
  margin-top: 25px;
}
.Carts2 > div > h2 {
  /* background-color: red; */
  border: 1px solid black;
  padding: 2%;
  margin-top: 25px;
  cursor: pointer;
}
