.ShoppingComp {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  gap: 10%;
  margin-top: 25px;
}
.h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.secondPart {
  /* border: 1px solid blue; */
  margin-top: 25px;
}
.firstPart {
  border: 1px solid blue;
  margin-top: 25px;
  padding: 10px;
  width: 40%;
}
.innerFirst {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.innetSecond > h1,
p {
  font-size: 20px;
}
.innetSecond > button {
  /* border: 1px solid red; */
  text-decoration: underline;
  cursor: pointer;
}
.secondPart > div > h1 + h1 {
  border: 1px solid red;
  font-size: 30px;
  cursor: pointer;
}
